@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}
body{
  background-image: url('bg.jpg');
  background-size: contain;
  background-repeat:repeat;
}
.container{
  border: 1px solid black;
  width: 80vw;
  height: 50vh;
  padding: 20px;
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
  background-color: white;
}
.result-details{
  display: flex;
  flex-wrap: wrap;
}
.result-details li{
  margin-left: 30px;
  list-style: none;
  font-size: 30px;
 
}
.wpm p{
  display: inline;
}
.input-field{
  height: 40px;
  width: 10%;
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.content{
  width: 80vw;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid black;
  background-color: white;

}
.typing-text p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 3px;
  word-spacing: 10px;
  word-break: break-all;
}
/* .reload{
  cursor: pointer;
}
.reload:active{
  color: red;
} */
.typing-text p span{
  position: relative;
}
.typing-text p span.correct{
  color: green;
  display: none;
}

.typing-text p span.incorrect{
   color: #cb3439;
    border: 4px solid red;
    border-radius: 4px;
}
.typing-text p span.active{
  color: #17a2b8;
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 5px solid #17a2b8;
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
}
/*For Result*/

.result-box {
  display: none;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-image: url('bg.jpg');
  background-size: contain;
  background-repeat: repeat;
  overflow: scroll;

}

.result ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 20px solid black;
  border-radius: 10%;
  color: black;
  height: fit-content;
  width: 400px;
  background-color: white;
  box-shadow: 10px 14px 8px 2px gray;
  position: relative;
}

.result ul li {
  display: flex;
  font-size: 20px;
  margin: 5px;
  border-bottom: 1px solid gray;
}

.result ul li span {
  position: absolute;
  right: 10px;
}

.reload {
  background-color: rgb(3, 3, 110);
  color: white;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
}

.Your-Result {
  background-color: rgb(3, 3, 110);
  text-align: center;
  font-size: 40px;
  color: white;
}

.Replay-btn:active {
  background-color: gray;
}

@media only screen and (max-height: 400px) {
  .result {
      margin-top: 30px;
  }

  .result ul li {
      font-size: 15px;
      margin: 0px;
  }
}
