@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Import Google Font - Poppins
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
overflow: hidden;
   display: flex;
  padding: 0 10px;
  width: 100vw;
  height: 100vh; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('bg.jpg');
  background-size: contain;
  background-repeat:repeat;
}

.wrapper{
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
.wrapper .input-field{
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.wrapper .content-box{
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}
.content-box .typing-text{
  overflow: hidden;
  max-height: 256px;
}
.typing-text::-webkit-scrollbar{
  width: 0;
}
.typing-text p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-spacing: 5px;
  word-break: break-all;
}
.typing-text p span{
  position: relative;
}
.typing-text p span.correct{
  color: green;
  display: none;
}

.typing-text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active{
  color: #17a2b8;
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 5px solid #17a2b8;
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
}

.content-box .content{
  display: flex;
  position: fixed;
  top: 1px;
}
.reload{
  font-size: 30px;
  cursor: pointer;
}
.reload:active{
  color: red;
}
.content .result-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
}
.result-details li{
  display: flex;
  height: 20px;
  margin-left: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-details li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p{
  font-size: 19px;
}
.result-details li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b{
  font-weight: 500;
}
li:not(:first-child) span{
  font-weight: 500;
}
@media (max-width: 745px) {
  .wrapper{
    padding: 20px;
  }
  .content-box .content{
    padding: 20px 0;
  }
  .content-box .typing-text{
    max-height: 100%;
  }
  .typing-text p{
    font-size: 19px;
    text-align: left;
  }
  .content button{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details{
    width: 100%;
  }
  .result-details li:not(:first-child){
    border-left: 0;
    padding: 0;
  }
  .result-details li p, 
  .result-details li span{
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .wrapper .content-box{
    padding: 10px 15px 0;
  }
  .typing-text p{
    font-size: 18px;
  }
  .result-details li{
    margin-bottom: 10px;
  }
  .content button{
    margin-top: 10px;
  }
}  */
/*-----------------------*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}
body{
  background-image: url('bg.jpg');
  background-size: contain;
  background-repeat:repeat;
}
.container{
  border: 1px solid black;
  width: 80vw;
  height: 50vh;
  padding: 20px;
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
  background-color: white;
}
.result-details{
  display: flex;
  flex-wrap: wrap;
}
.result-details li{
  margin-left: 30px;
  list-style: none;
  font-size: 30px;
 
}
.wpm p{
  display: inline;
}
.input-field{
  height: 40px;
  width: 10%;
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.content{
  width: 80vw;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid black;
  background-color: white;

}
.typing-text p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 3px;
  word-spacing: 10px;
  word-break: break-all;
}
/* .reload{
  cursor: pointer;
}
.reload:active{
  color: red;
} */
.typing-text p span{
  position: relative;
}
.typing-text p span.correct{
  color: green;
  display: none;
}

.typing-text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active{
  color: #17a2b8;
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 5px solid #17a2b8;
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
}
/*For Result*/

.result-box {
  display: none;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-image: url('bg.jpg');
  background-size: contain;
  background-repeat: repeat;
  overflow: scroll;

}

.result ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 20px solid black;
  border-radius: 10%;
  color: black;
  height: fit-content;
  width: 400px;
  background-color: white;
  box-shadow: 10px 14px 8px 2px gray;
  position: relative;
}

.result ul li {
  display: flex;
  font-size: 20px;
  margin: 5px;
  border-bottom: 1px solid gray;
}

.result ul li span {
  position: absolute;
  right: 10px;
}

.reload {
  background-color: rgb(3, 3, 110);
  color: white;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
}

.Your-Result {
  background-color: rgb(3, 3, 110);
  text-align: center;
  font-size: 40px;
  color: white;
}

.Replay-btn:active {
  background-color: gray;
}

@media only screen and (max-height: 400px) {
  .result {
      margin-top: 30px;
  }

  .result ul li {
      font-size: 15px;
      margin: 0px;
  }
}